@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-dismissible alert-primary" style="width: 55rem;">
    <h4 class="alert-heading">The Media Share Project 💾</h4>
    <p class="mb-0">Welcome to The Media Share Project, a social image board. In order to continue please log in or create an account.</p>
</div>
<br>
        <div class="card login-logout-tab" style="width: 30rem;">
            <div class="card-header" >
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href='/Identity/Account/Login'>Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='/Identity/Account/Register'>Register</a>
                    </li>
                </ul>
            </div>
            <br>
            <div class="card-content offset-1">
                
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                
                <br>
            </div>
        </div>
    


@section Scripts{
    @RenderSection("Scripts", required: false) 
    
    <script>
        $(function() {
            var current = location.pathname;
            $('.nav-tabs li a').ForEachCallback(function() {
                var $this = $(this);
                if (current.indexOf($this.Attr('href')) !== -1) {
                    $this.addClass('active');
                }
            })
        })
    </script>

}